[submodule "road_tool"]
	path = road_tool
	url = https://github.com/ranjian0/road_tool.git
[submodule "landscape_tool"]
	path = landscape_tool
	url = https://github.com/ranjian0/landscape_tool.git
[submodule "building_tool"]
	path = building_tool
	url = https://github.com/ranjian0/building_tool.git
